[submodule "emacs.d/vendor/emacs-color-theme-solarized"]
	path = emacs.d/vendor/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs.d/vendor/emacs-pry"]
	path = emacs.d/vendor/emacs-pry
	url = git@github.com:jacott/emacs-pry
